<body>
  <div class="title">
    <a class="inst" href="https://www.instagram.com/biavazscroche/">
      <img src="assets/instagran.png" alt="Instagram">
    </a>
    <h1>Bia Vaz</h1>
    <h2>encomendas de crochê</h2>
  </div>

  <div class="Gallery">
    <div>
      <img class="imgs" src="assets/croche1.png" alt="Tapete de Crochê">
    </div>
    <div>
      <img class="imgs" src="assets/croche2.png" alt="Jogo para Banheiro">
    </div>
    <div>
      <img class="imgs" src="assets/croche3.png" alt="Kit Tapetes Rosa">
    </div>
  </div>
</body>
